from aioscrapy import Spider


class $classname(Spider):
    name = '$name'
    custom_settings = {
        "CLOSE_SPIDER_ON_IDLE": True
    }
    start_urls = []

    @staticmethod
    async def process_request(request, spider):
        """ request middleware """
        pass

    @staticmethod
    async def process_response(request, response, spider):
        """ response middleware """
        return response

    @staticmethod
    async def process_exception(request, exception, spider):
        """ exception middleware """
        pass

    async def parse(self, response):
        item = {
            'title': '\n'.join(response.xpath('//title/text()').extract()),
        }
        yield item

    async def process_item(self, item):
        print(item)


if __name__ == '__main__':
    dome = $classname()
    dome.start()
